@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    width: 100%;
    font-size: 14px;
    background-color: #322e2e;
    text-align: center;
    color: #999999;
}

.heart-icon {
    width: 20px;
    padding: 0 3px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100%;
    background-color: #322e2e;
}

.nav-bar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
}

.nav-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.userIcon {
    width: 40px;
    height: 40px;
}

.userNameCamp {
    color: white;
    font-size: 15px;
    text-align: center;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    z-index: 1001;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 1);
    opacity: 1;
  }

.quitButton {
    font-size: 10px;
    margin-left: 20px;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: solid wheat 1px;
    color: white;
    border-radius: 2px;
    transition: 0.6s;
}

.quitButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.app-icon {
    width: 70px;
    height: auto;
}

.app-title {
    font-size: 25px;
    color: #999999;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin-top: 3%;
}

.task-manager {
    display: flex;
    justify-content: center;
    gap: 6%;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.newTaskInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

#task-name {
    background-color: transparent;
    border: solid white 2px;
    width: 250px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    color: #e5e4e4;
}
#task-name:focus {
    outline: none;
}

#task-description {
    background-color: transparent;
    border: solid white 2px;
    width: 300px;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    color: #e5e4e4;
    height: 70px;
    resize: none;
}
#task-description:focus {
    outline: none;
}

.task-title {
    color: #e5e4e4;
    margin-bottom: 10px;
    font-size: 26px;
}

.task-description {
    font-size: 16px;
    color: #999999;
}

.tasks {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 4%;
}

.task-card {
    background-color: #322e2e;
    width: 400px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
}

.save-task {
    width: 100px;
    height: 50px;
    margin-top: 23px;
    transition: 0.4s;
    border-radius: 5px;
    background-color: transparent;
    border: solid white 2px;
    font-size: 18px;
    min-width: 180px;
    color: #e5e4e4;
}

.save-task:hover {
    filter: brightness(1.1);
    scale: 1.1;
    cursor: pointer;
}

.newTaskInfo label {
    color: #e5e4e4;
    margin-bottom: 9px;
}

.bin-icon {
    width: 20%;
    height: auto;
    transition: 0.6s;
}
.bin-icon:hover {
    filter: brightness(1.2);
    scale: 1.1;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #393434;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    position: fixed;
    width: 375px;
    height: 150px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    font-family: 'Roboto';
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

@media (max-width: 1000px) {
    .tasks {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 585px) {
    .task-manager {
        gap: 35px;
    }
    .save-task {
        width: 140px;
        font-size: 18px;
        margin: 0 100px 10px 109px;
    }
}
@media (max-width: 490px) {
    .task-card {
        width: 370px;
    }
    .task-title {
        font-size: 20px;
    }
    .task-description {
        font-size: 12px;
    }
    .app-title {
        font-size: 20px;
    }
    .app-icon {
        width: 60px;
    }
}
@media (max-width: 390px) {
    .task-card {
        width: 250px;
    }
    .task-title {
        font-size: 20px;
    }
    .task-description {
        font-size: 12px;
    }
    #task-description {
        width: 200px;
    }
    #task-description-label {
        font-size: 13.5px;
    }
}

/*# sourceMappingURL=style.css.map */